<h1>New campaign</h1>

<%= form_for @campaign do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :type_name %>
  <%= f.select :type_name, ['service', 'product']%>
  <%= f.label :specialization %>
  <%= f.text_field :specialization %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit  %>
<% end %>
